<article class="grid_4 widget" id="total_visits">
    <div class="spinner"><img src="/images/spinner.gif" alt="loading" /></div>
</article>

<article class="grid_4 widget" id="signup_journalists">
    <div class="spinner"><img src="/images/spinner.gif" alt="loading" /></div>
</article>

<article class="grid_4 widget" id="signup_follows">
    <div class="spinner"><img src="/images/spinner.gif" alt="loading" /></div>
</article>

<article class="grid_4 widget" id="signup_trails">
    <div class="spinner"><img src="/images/spinner.gif" alt="loading" /></div>
</article>

<article class="grid_7 widget" id="top_countries">
    <div class="spinner"><img src="/images/spinner.gif" alt="loading" /></div>
</article>

<article class="grid_7 widget" id="top_searches">
    <div class="spinner"><img src="/images/spinner.gif" alt="loading" /></div>
</article>