


<div class="grid_8">
    <article class="grid_8 widget alpha omega" id="recent_pressreleases">
        <header>
            <h2>Recent pressreleases</h2>
        </header>
        <section>
            <ul class="left">
                <li style="text-align: center;" class="big">...</li>
            </ul>
        </section>
    </article>
    
    <div class="grid_8">
        <article class="grid_4 widget alpha" id="total_visits">
            <header>
                <h2>Visits (4 weeks)</h2>
            </header>
            <div class="spinner"><img src="/images/spinner.gif" alt="loading" /></div>
        </article>

        <article class="grid_4 widget omega" id="count_pressreleases">
            <header>
                <h2>Pressreleases</h2>
            </header>
            <div class="spinner"><img src="/images/spinner.gif" alt="loading" /></div>
        </article>
    </div>
    
    <article class="grid_8 widget" id="analytics_goals">
        <header>
            <h2>Signups Yesterday</h2>
        </header>
        <div class="spinner"><img src="/images/spinner.gif" alt="loading" /></div>
    </article>
    
</div>

<div class="grid_6">
    <article class="grid_6 widget alpha omega" id="top_countries">
        <header>
            <h2>Top countries</h2>
        </header>
        <div class="spinner"><img src="/images/spinner.gif" alt="loading" /></div>
    </article>
    
    <article class="grid_6 widget alpha omega" id="new_relic">
        <header>
            <h2>Server status</h2>
        </header>
        <div class="spinner"><img src="/images/spinner.gif" alt="loading" /></div>
    </article>
</div>

<article class="grid_5 widget" id="recent_checkins">
    <header>
        <h2>Recent checkins</h2>
    </header>
    <section class="left">
        <ul>
        </ul>
    </section>
</article>