<article class="grid_3 widget">
    <header>
        <h2>Visitors</h2>
    </header>
    <section>
        <p>hello world</p>
    </section>
</article>

<article class="grid_5 widget">
    <header>
        <h2>Latest referers</h2>
    </header>
    <section>
        <p>hello world</p>
    </section>
</article>