


<div class="grid_8">
    <article class="grid_8 widget alpha omega" id="recent_pressreleases">
        <header>
            <h2>Recent pressreleases</h2>
        </header>
        <section>
            <ul class="left">
                <li style="text-align: center;" class="big">...</li>
            </ul>
        </section>
    </article>
    
    <article class="grid_4 widget alpha" id="total_visits">
        <div class="spinner"><img src="/images/spinner.gif" alt="loading" /></div>
    </article>
    
    <article class="grid_4 widget omega" id="count_pressreleases">
        <div class="spinner"><img src="/images/spinner.gif" alt="loading" /></div>
    </article>
    
    <article class="grid_4 widget alpha" id="signup_journalists">
        <div class="spinner"><img src="/images/spinner.gif" alt="loading" /></div>
    </article>
    
    <article class="grid_4 widget omega" id="signup_trials">
        <div class="spinner"><img src="/images/spinner.gif" alt="loading" /></div>
    </article>
    
    <article class="grid_4 widget alpha" id="signup_follows">
        <div class="spinner"><img src="/images/spinner.gif" alt="loading" /></div>
    </article>
</div>

<article class="grid_5 widget" id="recent_checkins">
    <header>
        <h2>Recent checkins</h2>
    </header>
    <section class="left">
        <ul>
        </ul>
    </section>
</article>

<div class="grid_6">
    <article class="grid_6 widget alpha omega" id="top_countries">
        <div class="spinner"><img src="/images/spinner.gif" alt="loading" /></div>
    </article>
    <article class="grid_6 widget alpha omega" id="new_relic">
        <div class="spinner"><img src="/images/spinner.gif" alt="loading" /></div>
    </article>
</div>
