<article class="grid_3 widget">
    <header>
        <h2>Visits</h2>
    </header>
    <section>
        <p class="big"><%= number_to_human(@visits[:now],:precision => 3) %></p>
        <p><%= number_to_percentage(@visits[:percent]) %></p>
    </section>
</article>