<div class="container_19">
    <article id="booked-rooms" class="widget dynamic-loader" data-action="/widgets/calendar_events" data-callback="renderBookedRooms" data-refresh-time="100000">
        <div class="grid_9">
            <div id="room0" class="grid_9 alpha omega">
                <p><span class="big">Room...</span></p>
                <ul>
                </ul>
            </div>
            <div id="room1" class="grid_9 alpha omega">
                <p><span class="big">Room...</span></p>
                <ul>
                </ul>
            </div>
        </div>
        <div class="grid_9">
            <div id="room2" class="grid_9 alpha omega">
                <p><span class="big">Room...</span></p>
                <ul>
                </ul>
            </div>
            <div id="room3" class="grid_9 alpha omega">
                <p><span class="big">Room...</span></p>
                <ul>
                </ul>
            </div>
        </div>
    </article>
</div>
