<div class="container_19" id="pressreleases">
    <div class="wrapper_19 border stats-row dynamic-loader" data-action="/widgets/count_pressreleases" data-callback="renderPressreleasesStats"  data-refresh-time="60000">
        <div class="grid_5 stats-row">
            <span class="stats-val">Pressreleases</span>
        </div>
        <div class="grid_3 stats-row">
            <p><span class="stats-val" id="pressreleases-today">&#160;</span> today</p>
        </div>
        <div class="grid_4 stats-row">
            <p><span class="stats-val" id="pressreleases-yesterday">&#160;</span> yesterday</p>
        </div>
        <div class="grid_4 stats-row">
            <p><span class="stats-val" id="pressreleases-last-week">&#160;</span> a week ago</p>
        </div>
        <div class="grid_3 stats-row">
            <time datetime="2010-12-13T12:23" class="number-highlight">12:23 <span>13/12</span></time>
        </div>
        <div id="pressreleases-latest" class="grid_19 dynamic-loader" data-action="/widgets/recent_pressreleases" data-callback="renderPressreleases" data-refresh-time="50000">
            <span>&#160;</span>
        </div>
    </div>
</div>
<div class="container_19">
    <div class="wrapper_19 border">
        <div class="grid_9 suffix_1">
            <article class="widget alpha omega clearfix dynamic-loader" data-action="/widgets/active_visits" data-callback="renderActiveUsersGraph" data-refresh-time="5000">
                <section>
                    <span class="big" id="online-users">&#160;</span> <span class="description">Online right now</span>
                    <div id="percent-bar"></div>
                </section>
                <section class="split"> 
                    30-day average: <span id="online-avg" class="stats-val number-highlight">&#160;</span>
                </section>
                <section class="split right"> 
                    30-day max: <span id="online-max" class="stats-val number-highlight">&#160;</span>
                </section>
                <section class="split"> 
                    Return average: <span id="return-avg" class="stats-val number-highlight">&#160;</span>
                </section>
                <section class="split right"> 
                    Return max: <span id="return-max" class="stats-val number-highlight">&#160;</span>
                </section>
            </article>
        </div>
        <div id="right-column" class="grid_9">

            <article id="top-countries" class="widget bars dynamic-loader" data-action="/widgets/top_countries" data-callback="renderActiveUsersByCountry" data-refresh-time="5000">
                <div class="clearfix">
                    <div id="bar-chart" class="bars">&#160;</div>
                </div>
            </article>

            <article id="recent-referrers" class="hidden widget dynamic-loader recent-referrers" data-action="/widgets/recent_referrers" data-callback="renderRecentReferrers" data-refresh-time="5000">
                <h3>Recent referrers</h3>
                <ul></ul>
            </article>

        </div>
    </div>
</div>
<div class="container_19">
    <div class="wrapper_19 border">
        <div class="grid_9 suffix_1">
            <article id="user-stats" class="widget dynamic-loader" data-action="/widgets/combined_user_stats" data-callback="renderCombinedUserStats" data-refresh-time="300000">
                <section id="slider">
                    <ul>
                        <li>
                            <article id="custom-stats" class="widget dynamic-loader" data-action="/widgets/custom_stats" data-callback="renderCustomStats" data-refresh-time="2000">
                                <p><span><span class="stats-val fb-newsrooms-count">&#160;</span> Facebook Newsrooms</span></p>
                                <div class="fb-newsrooms-latest">
                                    
                                </div>
                            </article>
                        </li>
                        <li>
                            <div class="stats-customer">
                                <p><span><span class="stats-val total">&#160;</span> Customers</span></p>
                                <p class="summary-stats"><strong class="today">&#160;</strong> today, <strong class="yesterday">&#160;</strong> yesterday</p>
                                <p class="goals"><strong class="yesterday">&#160;</strong> trials yesterday <span class="arrow-wrapper"><span class="arrow"></span><strong>&#160;</strong></span><span class="description">1 week</span></p>
                            </div>
                        </li>
                        <li>
                            <div class="stats-followers">
                                <p><span><span class="stats-val total">&#160;</span> Followers</span></p>
                                <p class="summary-stats"><strong class="today">&#160;</strong> today, <strong class="yesterday">&#160;</strong> yesterday</p>
                                <p class="goals"><strong class="yesterday">&#160;</strong> followers yesterday <span class="arrow-wrapper"><span class="arrow"></span><strong>&#160;</strong></span><span class="description">1 week</span></p>
                            </div>
                        </li>
                        <li>
                            <div class="stats-journalists">
                                <p><span><span class="stats-val total">&#160;</span> Journalists</span></p>
                                <p class="summary-stats"><strong class="today">&#160;</strong> today, <strong class="yesterday">&#160;</strong> yesterday</p>
                                <p class="goals"><strong class="yesterday">&#160;</strong> journalists yesterday <span class="arrow-wrapper"><span class="arrow"></span><strong>&#160;</strong></span><span class="description">1 week</span></p>
                            </div>
                        </li>
                    </ul>
                </section>
            </article>
        </div>
        <div class="grid_9">
            <article id="total-visits" class="widget dynamic-loader" data-action="/widgets/total_visits" data-callback="renderTotalVisits" data-refresh-time="1200000">
                <span class="big">&#160;</span>
                <div>last 30 days <span class="arrow-wrapper up"><span class="arrow"></span><strong>&#160;</strong></span></div>
                <div>last year <span class="last-year arrow-wrapper up"><span class="arrow"></span><strong>&#160;</strong></span></div>
            </article>
            <article id="twitter-message" class="widget dynamic-loader" data-action="/widgets/message" data-callback="renderMessage" data-refresh-time="60000">
                <p class="message">&#160;</p>
                <p class="description low"><span class="arrow-wrapper comment"><span class="arrow"></span></span><span class="from">&#160;</span><time>&#160;</time></p>
            </article>
        </div>
    </div>
</div>
<div class="container_19">
    <div id="recent-checkins" class="wrapper_19 stats-row slim dynamic-loader" data-action="/widgets/recent_checkins" data-callback="renderRecentCheckins" data-refresh-time="5000">
        <div class="grid_2 suffix_1">Recent checkins</div>
        <ul>
        </ul>
    </div>
</div>
<div class="container_19">
    <div id="server" class="wrapper_19 stats-row slim dynamic-loader" data-action="/widgets/new_relic" data-callback="renderNewRelic" data-refresh-time="40000">
        <div class="grid_2 suffix_1">Server status</div>
        <div id="server-update"></div>
        <div class="grid_4"></div>
    </div>
</div>
<div class="container_19">
    <div class="grid_4 prefix_15"><span class="branding">&#160;</span></div>
</div>
    
