<div class="container_19" id="pressreleases">
    <div class="wrapper_19 border stats-row">
        <div class="grid_3 stats-row suffix_1">
            <span class="stats-val">Pressreleases</span>
        </div>
        <div class="grid_3 stats-row">
            <p><span class="stats-val">1095</span> today</p>
        </div>
        <div class="grid_4 stats-row">
            <p><span class="stats-val">1182</span> yesterday</p>
        </div>
        <div class="grid_4 stats-row">
            <p><span class="stats-val">893</span> a week ago</p>
        </div>
        <div class="grid_4 stats-row">
            <time datetime="2010-12-13T12:23" class="medium">12:23 <span>13/12</span></time>
        </div>
        <div id="pressreleases-latest" class="grid_19">
            <time>12:23</time> - Kapitalinvestering öppnar ny marknad för Nordic Flanges</strong> - <span>Vinovativa</span>
        </div>
    </div>
</div>
<div class="container_19">
    <div class="wrapper_19 border">
        <div class="grid_9 suffix_1">
            <article class="widget alpha omega clearfix" id="active_visits" data-refresh-time="1200000" data-callback="active_visits_callback">
                <section>
                    <span class="big">553</span> <span class="description">Online right now</span>
                    <div id="online_now"></div>
                </section>
                <section class="split" id="visitors-max"> 
                    30-day average: <span class="visits_avg stats-val medium">340</span>
                </section>
                <section class="slpit" id="visitors-avg"> 
                    30-day max: <span class="visits_max stats-val medium">902</span>
                </section>
            </article>
        </div>
        <div class="grid_9">
            <article class="widget bars">
                <div class="clearfix">
                    <h3>Top countries right now</h3>
                    <div class="bars">
                        <div class="bar bar1"><div>&#160;</div><span>320</span><span class="country">Sweden</span></div>
                        <div class="bar bar2"><div>&#160;</div><span>123</span><span class="country">United Kingdom</span></div>
                        <div class="bar bar3"><div>&#160;</div><span>80</span><span class="country">Denmark</span></div>
                        <div class="bar bar4"><div>&#160;</div><span>68</span><span class="country">Norway</span></div>
                        <div class="bar bar5"><div>&#160;</div><span>43</span><span class="country">United States</span></div>
                        <div class="bar bar6"><div>&#160;</div><span>33</span><span class="country">Finland</span></div>
                        <div class="bar bar7"><div>&#160;</div><span>20</span><span class="country">Germany</span></div>
                        <div class="bar bar8"><div>&#160;</div><span>14</span><span class="country">Spain</span></div>
                        <div class="bar bar9"><div>&#160;</div><span>09</span><span class="country">France</span></div>
                        <div class="bar bar10"><div>&#160;</div><span>02</span><span class="country">Brazil</span></div>
                    </div>
                </div>
            </article>
        </div>
    </div>
</div>
<div class="container_19">
    <div class="wrapper_19 border">
        <div class="grid_9 suffix_1">
            <article id="user-stats" class="widget">
                <section>
                    <div id="stats-customer">
                        <p><span><span class="stats-val">18234</span> Customers</span></p>
                        <p><strong>50</strong> today, <strong>51</strong> yesterday <span class="down"><span class="arrow"></span><strong>0.00%</strong></span></p>
                        <p><strong>43</strong> trials yesterday <span class="up"><span class="arrow"></span><strong>34.38%</strong></span><span class="description">1 week</span></p>
                    </div>
                    <div id="stats-followers" class="hidden">
                        <p><span><span class="stats-val">1441</span> Followers</span></p>
                        <p><strong>11</strong> today, <strong>25</strong> yesterday <span class="down"><span class="arrow"></span><strong>0.00%</strong></span></p>
                        <p><strong>24</strong> followers yesterday <span class="up"><span class="arrow"></span><strong>12.38%</strong></span><span class="description">1 week</span></p>
                    </div>
                    <div id="stats-journalists" class="hidden">
                        <p><span><span class="stats-val">18234</span> Journalists</span></p>
                        <p><strong>3</strong> today, <strong>14</strong> yesterday <span class="down"><span class="arrow"></span><strong>0.00%</strong></span></p>
                        <p><strong>13</strong> trials yesterday <span class="up"><span class="arrow"></span><strong>34.38%</strong></span><span class="description">1 week</span></p>
                    </div>
                </section>
            </article>
        </div>
        <div class="grid_9">
            <article class="widget" id="total_visits" data-refresh-time="1200000">
                <div class="flipclock_wrapper"><span class="big">954 069</span> Visits last 30 days <span class="up"><span class="arrow"></span><strong>4.33%</strong></span></div>
            </article>
            <article class="widget alpha omega hidden">
                <ul>
                    <li>redir.opoint.com<span> → Visma Opic Upphandling</span></li>
                    <li>pro.se<span> → Institutet för Privatekonomi</span></li>
                    <li>search.hp.my.aolnorge.no<span> → LG Electronics Nordic</span></li>
                    <li>bing.com<span> → Bjärreds Design AB</span></li>
                    <li>jak.aventus.nu<span> → JAK Medlemsbank</span></li>
                    <li>search.avg.com<span> → PVF Yrke &amp; Utbildning</span></li>
                    <li>kvasir.no<span> → NKI Nettstudier</span></li>
                    <li>sat1.de<span> → WEBSTRAINS</span></li>
                    <li>kb.3ddata.se<span> → Uppsala universitet</span></li>
                    <li>adlibris.com<span> → Adlibris AB</span></li>
                </ul>
            </article>
        </div>
    </div>
</div>
<div class="container_19">
    <div id="server" class="wrapper_19 border stats-row slim">
        <div class="grid_2">Customers</div>
        <div class="grid_2">Sources <span class="stats-val">18234</span></div>
        <div class="grid_2 prefix_1">Server status</div>
        <div class="grid_2">Apdex (0.75) <span class="stats-val green">0.92</span></div>
        <div class="grid_2">CPU <span class="red stats-val">84 %</span></div>
        <div class="grid_2">Memory <span class="green stats-val">1290 MB</span></div>
        <div class="grid_2">RT <span class="green stats-val">309 ms</span></div>
        <div class="grid_2">Throughput <span class="yellow stats-val">734 rpm</span></div>
        <div class="grid_2">DB <span class="green stats-val">8.8 %</span></div>
    </div>
</div>