<div class="container_19" id="pressreleases">
    <div class="wrapper_19 border stats-row dynamic-loader" data-action="/widgets/count_pressreleases" data-callback="renderPressreleasesStats"  data-refresh-time="60000">
        <div class="grid_3 stats-row suffix_1">
            <span class="stats-val">Pressreleases</span>
        </div>
        <div class="grid_3 stats-row">
            <p><span class="stats-val" id="pressreleases-today">&#160;</span> today</p>
        </div>
        <div class="grid_4 stats-row">
            <p><span class="stats-val" id="pressreleases-yesterday">&#160;</span> yesterday</p>
        </div>
        <div class="grid_4 stats-row">
            <p><span class="stats-val" id="pressreleases-last-week">&#160;</span> a week ago</p>
        </div>
        <div class="grid_4 stats-row">
            <time datetime="2010-12-13T12:23" class="medium">12:23 <span>13/12</span></time>
        </div>
        <div id="pressreleases-latest" class="grid_19 dynamic-loader" data-action="/widgets/recent_pressreleases" data-callback="renderPressreleases" data-refresh-time="50000">
            <span>&#160;</span>
        </div>
    </div>
</div>
<div class="container_19">
    <div class="wrapper_19 border">
        <div class="grid_9 suffix_1">
            <article class="widget alpha omega clearfix dynamic-loader" data-action="/widgets/active_visits" data-callback="renderActiveUsersGraph" data-refresh-time="5000">
                <section>
                    <span class="big" id="online-users">&#160;</span> <span class="description">Online right now</span>
                    <div id="percent-bar"></div>
                </section>
                <section class="split"> 
                    30-day average: <span id="online-avg" class="stats-val medium">&#160;</span>
                </section>
                <section class="split right"> 
                    30-day max: <span id="online-max" class="stats-val medium">&#160;</span>
                </section>
                <section class="split"> 
                    Return average: <span id="return-avg" class="stats-val medium">123</span>
                </section>
                <section class="split right"> 
                    Return max: <span id="return-max" class="stats-val medium">4332</span>
                </section>
            </article>
        </div>
        <div class="grid_9">
            <article class="widget bars dynamic-loader" data-action="/widgets/top_countries" data-callback="renderActiveUsersByCountry" data-refresh-time="5000">
                <div class="clearfix">
                    <div id="bar-chart" class="bars">&#160;</div>
                </div>
            </article>
        </div>
    </div>
</div>
<div class="container_19">
    <div class="wrapper_19 border">
        <div class="grid_9 suffix_1">
            <article id="user-stats" class="widget dynamic-loader" data-action="/widgets/combined_user_stats" data-callback="renderCombinedUserStats" data-refresh-time="300000">
                <section id="slider">
                    <ul>
                        <li>
                            <div class="stats-customer">
                                <p><span><span class="stats-val total">&#160;</span> Customers</span></p>
                                <p class="summary-stats"><strong class="today">&#160;</strong> today, <strong class="yesterday">&#160;</strong> yesterday</p>
                                <p class="goals"><strong class="yesterday">&#160;</strong> trials yesterday <span class="arrow-wrapper"><span class="arrow"></span><strong>&#160;</strong></span><span class="description">1 week</span></p>
                            </div>
                        </li>
                        <li>
                            <div class="stats-followers">
                                <p><span><span class="stats-val total">&#160;</span> Followers</span></p>
                                <p class="summary-stats"><strong class="today">&#160;</strong> today, <strong class="yesterday">&#160;</strong> yesterday</p>
                                <p class="goals"><strong class="yesterday">&#160;</strong> followers yesterday <span class="arrow-wrapper"><span class="arrow"></span><strong>&#160;</strong></span><span class="description">1 week</span></p>
                            </div>
                        </li>
                        <li>
                            <div class="stats-journalists">
                                <p><span><span class="stats-val total">&#160;</span> Journalists</span></p>
                                <p class="summary-stats"><strong class="today">&#160;</strong> today, <strong class="yesterday">&#160;</strong> yesterday</p>
                                <p class="goals"><strong class="yesterday">&#160;</strong> journalists yesterday <span class="arrow-wrapper"><span class="arrow"></span><strong>&#160;</strong></span><span class="description">1 week</span></p>
                            </div>
                        </li>
                    </ul>
                </section>
            </article>
        </div>
        <div class="grid_9">
            <article id="total-visits" class="widget dynamic-loader" data-action="/widgets/total_visits" data-callback="renderTotalVisits" data-refresh-time="1200000">
                <span class="big">&#160;</span> Visits last 30 days <span class="arrow-wrapper up"><span class="arrow"></span><strong>&#160;</strong></span>
            </article>
            <article class="widget alpha omega hidden">
                <ul>
                    <!-- <li>redir.opoint.com<span> → Visma Opic Upphandling</span></li>
                    <li>pro.se<span> → Institutet för Privatekonomi</span></li>
                    <li>search.hp.my.aolnorge.no<span> → LG Electronics Nordic</span></li>
                    <li>bing.com<span> → Bjärreds Design AB</span></li>
                    <li>jak.aventus.nu<span> → JAK Medlemsbank</span></li>
                    <li>search.avg.com<span> → PVF Yrke &amp; Utbildning</span></li>
                    <li>kvasir.no<span> → NKI Nettstudier</span></li>
                    <li>sat1.de<span> → WEBSTRAINS</span></li>
                    <li>kb.3ddata.se<span> → Uppsala universitet</span></li>
                    <li>adlibris.com<span> → Adlibris AB</span></li> -->
                </ul>
            </article>
        </div>
    </div>
</div>
<div class="container_19">
    <div id="recent-checkins" class="wrapper_19 border stats-row slim dynamic-loader" data-action="/widgets/recent_checkins" data-callback="renderRecentCheckins" data-refresh-time="5000">
        <div class="grid_2 suffix_1">Recent checkins</div>
        <ul>
        </ul>
    </div>
</div>
<div class="container_19">
    <div id="server" class="wrapper_19 border stats-row slim dynamic-loader" data-action="/widgets/new_relic" data-callback="renderNewRelic" data-refresh-time="40000">
        <div class="grid_2 suffix_5">Server status</div>
        <div id="server-update"></div>
    </div>
</div>