<div class="container_14">
    <div class="grid_14">
        <article class="widget clearfix dynamic-loader" data-action="/widgets/active_visits" data-callback="renderActiveUsersGraph" data-refresh-time="5000">
            <div class="flipclock_wrapper"><span class="big" id="online-users">&#160;</span><div class="flipclock_overlay"></div></div>
            <p><span class="big">Besökare just nu på Mynewsdesk.com</span></p>
        </article>
    </div>
    <div id="pressreleases-latest" class="grid_14 dynamic-loader" data-action="/widgets/recent_pressreleases" data-callback="renderPressreleases" data-refresh-time="50000">
        <p><span class="big">Senaste pressmeddelanden</span></p>
        <span>&#160;</span>
    </div>
</div>