<article class="grid_19 widget alpha omega" id="active_visits" data-refresh-time="5000" data-callback="active_visits_callback">
    <header>
        <h2>Online right now</h2>
    </header>
    <section>
        <div class="flipclock_wrapper"><span class="big">0</span><div class="flipclock_overlay"></div></div>
        <div id="online_now">
        </div>
        <p>30-day max: <span class="visits_max"></span></p>
        <p>30-day average: <span class="visits_avg"></span></p>
    </section>
</article>