<article class="widget alpha omega clearfix dynamic-loader" data-action="/widgets/active_visits" data-callback="renderActiveUsersGraph" data-refresh-time="5000">
    <section>
        <div class="flipclock_wrapper"><span class="big" id="online-users">&#160;</span><div class="flipclock_overlay"></div></div>
    </section>
</article>