body {
  margin-top:0px;
  background-color: #FFFFFF;
  color: #707070;
  font: 22px/1.5em 'helvetica neue', helvetica, arial;
  letter-spacing: 0.05em;
  font-weight: normal;
  overflow: hidden;
}
/*visitor styles*/
body.visitors{
    background:#cc3300;
}
body.visitors .big{
    background:none;
}
body.visitors .widget p{
    margin-top:-40px;
    text-align:center;
    font-weight:normal;
}
body.visitors .flipclock_wrapper{
    color:#fff;
    letter-spacing:10px;
    font-weight:bold;
    background:none;
    text-shadow:rgba(0,0,0,0.7);
    text-shadow: 20px -12px 2px rgba(0,0,0,0.1);
}
body.visitors .flipclock_overlay{
    border:none;
    background:none;
}
body.visitors #pressreleases-latest{
    margin-top:20px;
    text-align:right;
}
body.visitors #pressreleases-latest .big{
    line-height:20px;
    padding:0;
    font-size:16px;
}
body.visitors #pressreleases-latest p{
    margin:0;
}
body.visitors .text-highlight{
    color:#fff;
}

body.visitors #pressreleases-latest>span{
    display:inline-block;
    width: 1145px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color:#fff;
    font-weight:normal;
    font-style:italic;
}
/*end visitor specific style*/
.hidden{
    display:none;
}
#container{
    width:100%;
    display:inline-block;
    max-height:1200px;
}
.wrapper_19{
    float:left;
    display:inline;
    width:1900px;
}

article.widget{
    padding:20px 0;
}
article.widget header{
    margin-top:0;
    margin-bottom:20px;
}
ul{list-style-type:none;}

.number-highlight{
    color: #EF5A22;
}

p .big{
    font-family: 'Helvetica Neue',Helvetica,Arial,'Liberation Sans',FreeSans,sans-serif;
    font-size: 30px;
    font-weight: 600;
    color: white;
    text-shadow: 0 -1px 1px #A56034;
    line-height: 34px;
    padding: 15px;
    background: url(http://assets1.mynewsdesk.com/REV_6c1715f842d7160daa40a01b40d9e0e5113b3336/images/signup/bg-orange-repeat.png?1294933708);
    background-position: 0 -20px;
    display: block;
}

.grid_2 small,
.grid_2 span,
.grid_14 span {
    padding-left: 15px;
}

.grid_5 span {
    padding-right: 15px;
    display: inline-block;
}


#booked-rooms li{
    clear: both;
    overflow: hidden;
    margin-bottom: 20px;
}

#booked-rooms li.more{
    text-align: center;
}

#booked-rooms small {
    float: left;
    clear:left;
    font-size: 12px;
    line-height: 1em;
}

#booked-rooms dd {
    margin-bottom: 15px;
}

.flipclock_wrapper {
    margin-top: 20px;
    text-align: center;
    font-size: 450px;
    line-height: 1em;
    background:#E5EBED;
    overflow: hidden;
    -moz-border-radius: 12px; /* FF1+ */
    -webkit-border-radius: 12px; /* Saf3-4 */
    border-radius: 12px; /* Opera 10.5, IE9, Saf5, Chrome */
    cwec: #E5EBED;31	155	182
    
}

.flipclock_wrapper .big {
  font-size: inherit;
  padding: 0 3px;

}
.flipclock_wrapper .flipclock_overlay {
  background-color: rgba(31, 155, 182, 0.0533594);
  bottom: 20px;
  height: 225px;
  position: absolute;
  width: 100%;
  border-top: 5px solid rgba(101, 101, 101, 0.933594);
  -moz-border-radius-bottomright: 12px;
  -moz-border-radius-bottomleft: 12px;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
}

#pressreleases-latest p {
    margin-bottom: 10px;
}

#pressreleases-latest{
    height:60px;
}
#pressreleases-latest>span{
    display:inline-block;
    width: 1145px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}