body {
  margin-top:0px;
  background-color: #FFFFFF;
  color: #707070;
  font: 35px/1.5em 'helvetica neue', helvetica, arial;
  letter-spacing: 0.05em;
  font-weight: normal;
  overflow: hidden;
}
.hidden{
    display:none;
}
#container{
    width:100%;
    display:inline-block;
    max-height:1200px;
}
.wrapper_19{
    float:left;
    display:inline;
    width:1900px;
}

article.widget{
    padding:20px 0;
}
article.widget header{
    margin-top:0;
    margin-bottom:20px;
}
ul{list-style-type:none;}

.number-highlight{
    color: #EF5A22;
}

.big{
    font-family: 'Helvetica Neue',Helvetica,Arial,'Liberation Sans',FreeSans,sans-serif;
    font-size: 40px;
    font-weight: 600;
    color: white;
    text-shadow: 0 -1px 1px #A56034;
    line-height: 34px;
    padding: 22px;
    background: url(http://assets1.mynewsdesk.com/REV_6c1715f842d7160daa40a01b40d9e0e5113b3336/images/signup/bg-orange-repeat.png?1294933708);
    background-position: 0 -20px;
    display: block;
}

.grid_3 small,
.grid_3 span {
    padding-left: 22px;
}











#booked-rooms li{
    clear: both;
    overflow: hidden;
    margin-bottom: 20px;
}

#booked-rooms small {
    float: left;
    clear:left;
    font-size: 16px;
    line-height: 1em;
}

#booked-rooms dd {
    margin-bottom: 15px;
}
