body {
  margin-top: 20px;
  background: #101010;
  color: #EBEBEB;
  font: 35px/1.5em "museo-slab-1","museo-slab-2","gesta-1","gesta-2";
  font-weight: 100;
}

.widget {
  background: #212121;
  -webkit-border-top-right-radius: 10px;
  -webkit-border-top-left-radius: 10px;
}

.widget header, .widget section {
  padding: 10px;
}

.widget header {
  -webkit-border-top-right-radius: 10px;
  -webkit-border-top-left-radius: 10px;
  text-align: center;
  background: #4B4B4B;
}

.widget section {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

h2 {
  font-weight: 600;
  font-size: 44px;
}

.big {
  font-size: 70px;
  font-weight: 700;
  line-height: 1em;
}

.up {
  color: #4A994D;
}

.down {
  color: #993638;
}