body {
  margin-top: 20px;
  background: #101010;
  color: #EBEBEB;
  font: 35px/1.5em "museo-slab-1","museo-slab-2","gesta-1","gesta-2";
  font-weight: 100;
}

.wrapper {
  
}

.widget {
  background: #212121;
  -webkit-border-top-right-radius: 10px;
  -webkit-border-top-left-radius: 10px;
  min-height: 324px;
  margin-bottom: 20px;
}

.widget header, .widget section {
  padding: 10px;
}

.widget header {
  background: -webkit-gradient(
    linear, 0% 100%, 0% 0%,
    color-stop(0.86, #606060),
    color-stop(0.67, #4B4B4B),
    color-stop(0.17, #333));
  -webkit-border-top-right-radius: 10px;
  -webkit-border-top-left-radius: 10px;
  text-align: center;
  color: #101010;
  text-shadow: 0px 2px 3px #373737;
}

.widget section {
  background: -webkit-gradient(
      linear,
      left bottom,
      left top,
      color-stop(0.64, rgb(33,33,33)),
      color-stop(1, rgb(20,20,20))
  );
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}
.left, .left *{
  text-align: left;
}
h2 {
  font-weight: 600;
  font-size: 44px;
}

.big {
  font-size: 70px;
  font-weight: 700;
  line-height: 1em;
}

strong {
  font-weight: 700;
}

.up {
  color: #4A994D;
}

.down {
  color: #993638;
}

.arrow {
  display: inline-block;
  height: 0px;
  margin: 0px 5px 5px 0px;
  width: 0px;
}

.up .arrow {
  border-bottom: 13px solid #4A994D;
  border-left: 13px solid transparent;
  border-right: 13px solid transparent;
}

.down .arrow {
  border-left: 13px solid transparent;
  border-right: 13px solid transparent;
  border-top: 13px solid #993638;
}

section ol {
  margin-left: 80px;
  margin-right: 40px;
}

ol li span {
  display:block;
  float: right;
  font-weight: 700;
}

.spinner {
  margin-top: 25%;
  text-align: center;
}

small {
  font-size: 70%;
}

#recent_checkins small {
  display: block;
  text-align: right;
  line-height: 1em;
}

#recent_checkins ul {
  list-style: none;
  margin: 0 20px;
  font-size: 80%;
  line-height: 1em;
}

#recent_checkins li {
  margin-bottom: 1em;
  display: block;
  height: 76px;
}

#recent_checkins span {
  font-weight: 700;
}

#recent_checkins li img{
  border-bottom-left-radius: 5px 5px;
  border-bottom-right-radius: 5px 5px;
  border-top-left-radius: 5px 5px;
  border-top-right-radius: 5px 5px;
  float: left;
  margin: 0 0.5em 0px 0px;
  width: 70px;
}
#recent_pressreleases {
  height: 380px;
  overflow: hidden;
}

#recent_pressreleases li {
  height: 76px;
  line-height: 1em;
  overflow: hidden;
  padding-top: 6px;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

#recent_pressreleases strong {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

#recent_pressreleases img {
  margin-bottom: 6px;
}