@font-face {
	font-family: 'LeagueGothicRegular';
	src: url('league_gothic-webfont.eot');
	src: local('☺'), url('league_gothic-webfont.woff') format('woff'), url('league_gothic-webfont.ttf') format('truetype'), url('league_gothic-webfont.svg#webfontXIjGlPir') format('svg');
	font-weight: normal;
	font-style: normal;
}


body {
  margin-top: 20px;
  background-color: #000000;
  background-image: -webkit-gradient(radial, 50% -50%, 1500, 50% -50%, 0, from(black), to(#252525), color-stop(0.6, #252525));
  color: #EBEBEB;
  font: 35px/1.5em 'helvetica neue', helvetica, arial;
  letter-spacing: 0.05em;
  font-weight: 100;
  overflow: hidden;
}

.widget {
  background: inherit;
  margin-bottom: 20px;
  border-bottom: 6px double #EBEBEB;
}

.widget header, .widget section {
  padding: 10px 10px 20px;
}

.widget header {
  background: inherit;
  color: #EBEBEB;
  padding-top: 0;
  padding-bottom: 10px;
}

#recent_pressreleases header, #recent_pressreleases section {
  padding: 0;
}

.left, .left *{
  text-align: left;
}
h2 {
  font-family: 'LeagueGothicRegular';
  font-size: 60px;
  font-weight: normal;
  text-shadow: #6B6B6B 0px 0px 23px;
  text-transform: uppercase;
}

.big {
  font-size: 70px;
  font-weight: 700;
  line-height: 1em;
}

strong {
  font-weight: 700;
}

.up, .green, .down, .red {
  white-space: nowrap;
}

.up, .green {
  color: #4A994D;
}

.down, .red {
  color: #993638;
}

.yellow {
  color: #CEC230;
}

.arrow {
  display: inline-block;
  height: 0px;
  margin: 0px 10px 5px 0px;
  width: 0px;
}

.up .arrow {
  border-bottom: 13px solid #4A994D;
  border-left: 13px solid transparent;
  border-right: 13px solid transparent;
}

.down .arrow {
  border-left: 13px solid transparent;
  border-right: 13px solid transparent;
  border-top: 13px solid #993638;
}

section ol {
  margin-left: 1.8em;
  margin-right: 0;
}

ol li span {
  display:block;
  float: right;
  font-weight: 700;
}

.spinner {
  margin-top: 25%;
  text-align: center;
}

small {
  font-size: 70%;
}

ul {
  list-style: none;
}

#recent_checkins small {
  display: block;
  text-align: right;
  line-height: 1em;
}

#recent_checkins ul {
  list-style: none;
  margin: 0;
  font-size: 72%;
  line-height: 1em;
}

#recent_checkins li {
  display: block;
  height: 72px;
  clear: both;
}

#recent_checkins span {
  font-weight: 700;
  white-space: nowrap;
}

#recent_checkins li img{
  border-bottom-left-radius: 5px 5px;
  border-bottom-right-radius: 5px 5px;
  border-top-left-radius: 5px 5px;
  border-top-right-radius: 5px 5px;
  float: left;
  margin: 0 0.5em 0px 0px;
  width: 60px;
}
#recent_pressreleases {
  height: 70px;
  min-height: 70px;
  overflow: hidden;
}

#recent_pressreleases section {
  padding-top: 14px;
}
#recent_pressreleases li {
  height: 76px;
  line-height: 1em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  list-style: none;
}

#recent_pressreleases strong {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#recent_pressreleases img {
  margin-bottom: 6px;
}

#new_relic ol {
  list-style: none;
  margin-left: 0;
}

.visits_now {
  border: #212121 solid 1px;
  color: #212121;
  background: rgba(255, 255, 255, 0.015625);
  font-size: 154px;
  overflow: hidden;
  position: relative;
  margin-bottom: 10px;
  text-align: right;
  padding: 0 3px;
}

.visits_now .big {
  color: #EBEBEB;
  font-size: inherit;
}

.visits_now .flipclock {
  background-color: rgba(0, 0, 0, 0.1875);
  bottom: 0px;
  height: 67px;
  position: absolute;
  width: 100%;
  border-top: 5px solid #141414;
}


#online_now {
  line-height: 30px;
}

#online_now .users {
  width: 15px;
  height: 25px;
  display: inline-block;
  background: url('/images/users_sprite.png') center top no-repeat;
  -webkit-transition: background 0.5s linear;
  -moz-transition: background 0.5s linear;
  -o-transition: background 0.5s linear;
  transition: background 0.5s linear;
}
#online_now .active{
  background: url('/images/users_sprite.png') center -26px no-repeat;  
}

#top_countries ol {
  list-style-position: inside;
  margin: 0;
}