<header>
    <h2>Online visitors</h2>
</header>
<section>
    <p class="big visits_now"><%= @stats['visits'] %></p>
    <div id="chart">
        <div id="new">
            <%= @stats['visits'].to_f/1000 %>
        </div>
    </div>
    <p>30-day max: <span class="visits_max"><%= @history['people_max'] > @stats['visits'] ? @history['people_max'] : @stats['visits']%></span></p>
    <p>30-day average: <span class="visits_avg"><%= @history['people_avg'].round %></span></p>
</section>