<header>
    <h2>Active Visits</h2>
</header>
<section>
    <p class="big"><%= @stats['visits'] %></p>
    <p>30-day max: <%= @history['people_max'] > @stats['visits'] ? @history['people_max'] : @stats['visits']%></p>
    <p>30-day average: <%= @history['people_avg'].round %></p>
</section>