<header>
    <h2>Pressreleases</h2>
</header>
<section>
    <p><strong><%= @today %></strong> today</p>
    <p><strong><%= @yesterday %></strong> yesterday</p>
    <p><strong><%= @last_week %></strong> a week ago</p>
</section>