<header>
    <h2>Server Status</h2>
</header>
<section class="left">
    <ol>
    <%- @values.each do |value| -%>
        <li><%= value[:name] == "Response Time" ? "RT" : value[:name] %> <span class="<%= value[:color_value].downcase %>"><%= value[:formatted_metric_value] %></span></li>
    <%- end -%>
    </ol>
</section>