<header>
    <h2>recent referrers</h2>
</header>
<section class="left">
    <ul>
    <%- @referrers.each do |referrer| -%>
        <%
        uri = URI.parse(referrer[:referrer])
        title = referrer[:title]
        %>
        <li><%= uri.host.gsub('www.', '').strip %><span> → <%= title[0,title.index("-")-1] %></span></li>
    <%- end -%>
    </ul>
</section>