<header>
    <h2>recent referrers</h2>
</header>
<section class="left">
    <ul>
    <%- @referrers.each do |referrer| -%>
        <li><%= referrer[:referrer].host.gsub('www.', '').strip %><span> → <%= referrer[:title][0,referrer[:title].index("-")-1] %></span></li>
    <%- end -%>
    </ul>
</section>