<header>
    <h2>Recent pressreleases</h2>
</header>
<section>
    <ul class="left">
    <%- @recent_pressreleases.each do |pressrealese| -%>
        <li style="display:none;"><strong class="grid_10 alpha"><%= pressrealese[:title] %></strong> <span class="grid_4 omega"><img src="/images/flags/<%= pressrealese[:site] %>.png" alt="<%= pressrealese[:site] %>"/> <%= pressrealese[:author] %></span></li>
    <%- end -%>
    </ul>
</section>