<header>
    <h2>Recent pressreleases</h2>
</header>
<section>
    <ul class="left">
    <%- @recent_pressreleases.each do |pressrealese| -%>
        <li style="display:none;"><strong><%= pressrealese[:title] %></strong> <br/> <img src="/images/flags/<%= pressrealese[:site] %>.png" alt="<%= pressrealese[:site] %>"/> <%= pressrealese[:author] %></li>
    <%- end -%>
    </ul>
</section>