<header>
    <h2>recent referrers</h2>
</header>
<section class="left">
    <ul>
    <%- @referrers.each do |referrer| -%>
        <% uri = URI.parse(referrer)  %>
        <li><%= uri.host.gsub('www.', '').strip %><span><%= uri.path %><%= "?#{uri.query}" unless uri.query.blank? %></span></li>
    <%- end -%>
    </ul>
</section>