<header>
    <h2>New trails</h2>
</header>
<section>
    <p class="big"><%= @signup_trails[:now] %></p>
    <p class="<%= (@signup_trails[:percent] > 0) ? "up" : "down" %>"><%= number_to_percentage(@signup_trails[:percent], :precision => 2) %></p>
</section>