<header>
    <h2>New trials</h2>
</header>
<section>
    <p class="big"><%= @signup_trials[:now] %></p>
    <p class="<%= (@signup_trials[:percent] > 0) ? "up" : "down" %>"><span class="arrow"></span><%= number_to_percentage(@signup_trials[:percent], :precision => 2) %></p>
</section>