<header>
    <h2>Visits (4 weeks)</h2>
</header>
<section>
    <p class="big"><%= number_with_delimiter @total_visits[:now], :delimiter => " " %></p>
    <p class="<%= (@total_visits[:percent] >= 0) ? "up" : "down" %>"><span class="arrow"></span><%= number_to_percentage(@total_visits[:percent], :precision => 2) %></p>
</section>