<!DOCTYPE html>
<html>
<head>
  <title>Dashboard</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults,'jquery.easing.1.3','jquery.count_to' %>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>
  <script type="text/javascript" src="http://konami-js.googlecode.com/svn/trunk/konami.js"></script>
  <%= csrf_meta_tag %>
  <meta http-equiv="refresh" content="3600"/>
</head>
<body>
<div class="container_19 clearfix">
    <%= yield %>
</div>
<audio id="smb">
	<source src="/smb3.mp3">
</audio>
</body>
</html>
