<!DOCTYPE html>
<html>
<head>
  <title>Dashboard</title>
  <link  href="//fonts.googleapis.com/css?family=Allerta+Stencil:regular&subset=latin" rel="stylesheet" type="text/css" >
  <%= stylesheet_link_tag "grid","slim" %>
  <%= javascript_include_tag 'jquery.min','slim'%>
  <%#script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script%>
  <%= csrf_meta_tag %>
  <meta http-equiv="refresh" content="3600"/>
</head>
<body>
    <div id="container">
        <%= yield %>
    </div>
</body>
</html>
