<!DOCTYPE html>
<html>
<head>
  <title>Dashboard</title>
<link href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:extralight,light,regular' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag "grid","slim" %>
  <%= javascript_include_tag 'jquery.min','easySlider1.7','slim'%>
  <%= csrf_meta_tag %>
  <meta http-equiv="refresh" content="3600"/>
</head>
<body>
    <div id="container">
        <%= yield %>
    </div>
</body>
</html>
